<div class="row">
    <div *ngIf="identity" class="navigation col-lg-1">

        <h1 class="head-title">
            <a [routerLink]="['/']">{{title}}</a>

        </h1>

        <nav id="navigation">
            <a [routerLink]="['/results', 1]" [routerLinkActive]="['actived']"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Resultados</a>
            <a href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Jugar</a>
            <a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Tickets</a>

        </nav>

        <nav id="user_logged">
            <div class="user-img">
                <img id="image-logged" src="{{url + 'get-image/' + identity.image}}">
            </div>
            <span id="identity_name">{{identity.name}}</span>

            <a [routerLink]="['/user/edit']" [routerLinkActive]="['actived']">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Mis datos
            </a>

            <a class="btn-logout" (click)="logout()">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir
            </a>

        </nav>

    </div>


    <!-- [class.hidden]="!identity" -->
    <div *ngIf="identity" class="central col-lg-11">

        <router-outlet></router-outlet>
    </div>

    <div class="col-lg-11" *ngIf="!identity">
        <div class="col-lg-6">
            <h1>Identificate</h1>
            <div *ngIf="errorMessage">
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong> {{errorMessage}}
                </div>
            </div>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">

                <p>
                    <label>Correo Electrónico</label>
                    <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required />
                    <span *ngIf="! email.valid && email.touched">
            El email es obligatorio
        </span>
                </p>

                <p>
                    <label>Contraseña</label>
                    <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required />
                </p>

                <input type="submit" value="Entrar" class="btn btn-primary">

            </form>


        </div>
        <div class="col-lg-6">
            <h1>Registrate</h1>
            <div *ngIf="alertRegister">
                <div class="alert alert-info" role="alert">
                    {{alertRegister}}
                </div>
            </div>
            <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-10">

                <p>
                    <label>Nombre</label>
                    <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required />
                    <span *ngIf="! name.valid && name.touched">
            El nombre es obligatorio
        </span>
                </p>

                <p>
                    <label>Apellido</label>
                    <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control" required />
                    <span *ngIf="! surname.valid && surname.touched">
            El apellido es obligatorio
        </span>
                </p>


                <p>
                    <label>Correo Electrónico</label>
                    <input type="email" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control" required />
                    <span *ngIf="! email.valid && email.touched">
            El email es obligatorio
        </span>
                </p>

                <p>
                    <label>Contraseña</label>
                    <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" class="form-control" required />
                    <span *ngIf="! password.valid && password.touched">
            La contraseña es obligatoria
        </span>
                </p>


                <input type="submit" value="Registrarse" class="btn btn-primary">

            </form>
        </div>
    </div>
</div>