<div class="col-lg-6">
    <h1>{{title}}</h1>
    <div *ngIf="alertMessage">
        <div class="alert alert-info" role="alert">
            {{alertMessage}}
        </div>
    </div>
    <form #userUpdateForm="ngForm" (ngSubmit)="onSubmitUpdate()" class="col-md-10">

        <p>
            <label>Nombre</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required />
            <span *ngIf="! name.valid && name.touched">
          El nombre es obligatorio
      </span>
        </p>

        <p>
            <label>Apellido</label>
            <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" required />
            <span *ngIf="! surname.valid && surname.touched">
          El apellido es obligatorio
      </span>
        </p>


        <p>
            <label>Correo Electrónico</label>
            <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required />
            <span *ngIf="! email.valid && email.touched">
          El email es obligatorio
      </span>
        </p>

        <div class="img-for-edit" *ngIf="user.image && user.image != 'null'">
            <img src="{{url + 'get-image/' + user.image}}">
        </div>

        <p>
            <label for="">Sube una foto</label>
            <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)">
        </p>

        <input type="submit" value="Actualizar" class="btn btn-primary">

    </form>
</div>